/*!
 * Start Bootstrap - Shop Item HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 0px;   /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
     font-family: "Open Sans" , "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.thumbnail img {
    width: 100%;
}

.ratings
{
    padding: 0px 10px 20px 10px;
    color: #FF9900;
    
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.page-header
{
    border-color: #CCCCCC;
    margin-bottom: 50px;
}

/*-------------------------
Navbar
---------------------------*/
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(13, 87, 184, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(117, 176, 230, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
    top: 0px;
    left: 1px;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #0d57b8;
}



/*----------------------------------------------------------
Slider
-----------------------------------------------------------*/
#slidernet
{
    font-family: "Open Sans" , "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    margin: 0px 0px 50px 0px;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../img/blue.png') no-repeat scroll center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 50px 0 0px 0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
#c-slide 
{
	padding:0px;
	margin-top:-2px;
}

.carouselvshadow 
{
	margin-top:-30px;
}
.car-highlight1 {
	font-size:20px;
	line-height:20px;
	font-weight:800;
	color:rgb(255,255,255);
	text-decoration:none;
	background-color:#0066CC;
	padding:10px;
	border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none;
	display:inline-block;
}
.car-highlight2 {
	font-size:20px;
	line-height:5px;
	font-weight:800;
	color:rgb(255,255,255);
	text-decoration:none;
	/*background-color:#7f8c8d;*/
	padding:3px;
	/*border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none;*/
	display:inline-block;
	margin-top:5px;
}
.car-highlight3 {
	font-size:20px;
	line-height:5px;
	font-weight:800;
	color:rgb(255,255,255);
	text-decoration:none;
	/*background-color:#f39c12;*/
	padding:3px;
	/*border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none;*/
	display:inline-block;
	margin-top:5px;
}
.car-highlight4 {
	font-size:20px;
	line-height:5px;
	font-weight:800;
	color:rgb(255,255,255);
	text-decoration:none;
	/*background-color:#34495e;*/
	padding:3px;
	/*border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none;*/
	display:inline-block;
	margin-top:5px;
}
.car-highlight5 {
	font-size:20px;
	line-height:28px;
	font-weight:800;
	color:#fff;
	text-decoration:none;
	padding:10px;
	border-width:0px;
	border-color:rgb(255,214,88);
	margin-left:-6px;
	border-style:none;
	display:inline-block;
	/*margin-top:3px;*/
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
}
.car-largetext {
	font-weight:800;
	font-family:Open Sans;
	color:#fff;
	text-decoration:none;
	background-color:transparent;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
	margin:0px;
	padding:1px 4px 0px;
	border-width:0px;
	border-color:rgb(255,214,88);
	border-style:none;
	font-size:50px;
}
.car-widecircle {
	background:#222;
	width:130px;
	height:130px;
	color:#fff;
	border-radius:50%;
	display:inline-block;
	position:relative;
	margin-right:20px;
}
.car-widecircle span {
	position:absolute;
	text-align:center;
	vertical-align:middle;
	line-height:130px;
	width:130px;
	margin:0px auto;
	right:0;
	font-weight:100;
	font-size:19px;
}
.car-middlecircle {
	background:#fff;
	width:120px;
	height:120px;
	color:#555;
	border-radius:50%;
	display:inline-block;
	position:relative;
	margin-right:20px;
}
.car-middlecircle span {
	position:absolute;
	text-align:center;
	vertical-align:middle;
	line-height:120px;
	width:120px;
	margin:0px auto;
	right:0;
	font-weight:100;
	font-size:19px;
}
.car-smallcircle {
	background:#0066CC;
	width:100px;
	height:100px;
	color:#fff;
	border-radius:50%;
	display:inline-block;
	position:relative;
}
.car-smallcircle span {
	position:absolute;
	text-align:center;
	vertical-align:middle;
	line-height:100px;
	width:100px;
	margin:0px auto;
	right:0;
	font-weight:100;
	font-size:19px;
}
.carouselText1 {
	font-weight:800;
	margin-top:50px;
	margin-bottom:20px;
	font-size:25px;
	background:#333;
	color:#fff;
	padding:10px 20px;
	display:inline-block;
	text-transform:uppercase;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
	border-radius:0;
}
.carouselText2 {
	font-size:19px;
	background:#0066CC;
	display:inline-block;
	padding:5px 20px;
	color:#fff;
	border-radius:0;
	margin-bottom:15px;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
	font-weight:600;
}
.carouselText3 {
	font-size:14px;
	display:inline-block;
	padding:0px 10px;
	color:#fff;
	border-radius:5px;
	font-weight:900;
	text-transform:uppercase;
	text-shadow:0 1px 0 rgba(0,0,0,0.2);
}
.slide1-1 {
	z-index:0;
	margin-top:-230px;
	position:relative;
	margin-left:0px;
	left:0px;
	max-width:85%;
}
.slide1-2 {
	z-index:1000;
	margin-top:-250px;
	position:relative;
	right:180px;
	max-width:22%;
}
.slide1-3 {
	position:relative;
	z-index:1000;
	float:right;
	top:135px;
	left:10px;
	max-width:35%;
}
.carousel .carousel-control {
	width:10%;
}
.carousel .item {
	padding:30px 0px;
	height:390px;
	overflow:hidden;
	-webkit-background-size:cover !Important;
	-moz-background-size:cover !Important;
	-o-background-size:cover !Important;
	background-size:cover !Important;
}
.carousel {
	position:relative;
}
.carousel p {
	color:#fff;
	line-height:30px;
}
.carousel-inner>.item {
	display:none;
	position:relative;
	-webkit-transition:0.6s ease-in-out left;
	transition:0.6s ease-in-out left;
}
.carousel-inner>.item>img,.carousel-inner>.item>a>img {
	display:block;
	max-width:100%;
	height:auto;
	line-height:1;
}
.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev {
	display:block;
}
.carousel-inner>.active {
	left:0;
}
.carousel-inner>.next,.carousel-inner>.prev {
	position:absolute;
	top:0;
	width:100%;
}
.carousel-inner>.next {
	left:100%;
}
.carousel-inner>.prev {
	left:-100%;
}
.carousel-inner>.next.left,.carousel-inner>.prev.right {
	left:0;
}
.carousel-inner>.active.left {
	left:-100%;
}
.carousel-inner>.active.right {
	left:100%;
}
.carousel-control {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:15%;
	opacity:0.5;
	filter:alpha(opacity=50);
	font-size:20px;
	color:#ffffff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,0.6);
}
.carousel-fade .carousel-inner .item {
	opacity:0;
	-webkit-transition-property:opacity;
	-moz-transition-property:opacity;
	-o-transition-property:opacity;
	transition-property:opacity;
}
.carousel-fade .carousel-inner .active {
	opacity:1;
}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right {
	left:0;
	opacity:0;
	z-index:1;
}
.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
	opacity:1;
}
.carousel-fade .carousel-control {
	z-index:2;
}
.carousel-control.left {
	background-repeat: repeat-x;
    background-image: linear-gradient(to right,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.0001) 100%);
}
.carousel-control.right {
	left:auto;
	right:0;
	background-repeat: repeat-x;
    background-image: linear-gradient(to right,rgba(0,0,0,0.0001) 0%,rgba(0,0,0,0.5) 100%);
}
.carousel-control:hover,.carousel-control:focus {
	color:#ffffff;
	text-decoration:none;
	opacity:0.9;
	filter:alpha(opacity=90);
}
.carousel-control .icon-prev,.carousel-control .icon-next,.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right {
	position:absolute;
	top:50%;
	left:50%;
	z-index:5;
	display:inline-block;
}
.carousel-control .icon-prev,.carousel-control .icon-next {
	width:20px;
	height:20px;
	margin-top:-10px;
	margin-left:-10px;
	font-family:serif;
}
.carousel-control .icon-prev:before {
	content:'\2039';
}
.carousel-control .icon-next:before {
	content:'\203a';
}
.carousel-indicators {
	position:absolute;
	left:50%;
	z-index:10000;
	width:60%;
	margin-left:-30%;
	padding-left:0;
	list-style:none;
	text-align:center;
}
.carousel-indicators li {
	display:inline-block;
	width:10px;
	height:10px;
	margin:1px;
	text-indent:-999px;
	border:1px solid #ffffff;
	border-radius:10px;
	cursor:pointer;
}
.carousel-indicators .active {
	margin:0;
	width:12px;
	height:12px;
	background-color:#ffffff;
}
.carousel-caption {
	position:absolute;
	left:15%;
	right:15%;
	bottom:20px;
	z-index:10;
	padding-top:20px;
	padding-bottom:20px;
	color:#ffffff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,0.6);
}
.carousel-caption .btn {
	text-shadow:none;
}
.carousel-control {
	width:40px;
	color:#fff;
	text-shadow:none;
	opacity:1;
	margin-left:40px;
	margin-right:40px;
}
.carousel-control:hover,.carousel-control:focus {
	color:#ccc;
	text-decoration:none;
	opacity:0.9;
	filter:alpha(opacity=90);
}
.carousel-control.left,.carousel-control.right {
	background-image:none;
	filter:none;
	background:rgba(0,0,0,.1);
	height:80px;
	width:50px;
	margin-top:25%;
		margin-left:0px;
	margin-right:0;
}
.carousel:hover .carousel-control.left,.carousel:hover .carousel-control.right {
}
.carousel-control.left {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.carousel-control.right {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.carousel-control i {
	position:absolute;
	top:30px;
	left:0;
	z-index:5;
	display:inline-block;
	width:50px;
	height:80px;
	margin-left:0px;
}
.carousel-indicators.out {
	bottom:-5px;
}
.carousel-control.left,.carousel-control.right {
	margin-top: 11%;
}
/*--------------------------------------------------	CAROUSEL FEATURED WORK---------------------------------------------------*/
#carousel-featuredwork .item {
	padding:0;
	height:410px;
}
#carousel-featuredwork .carousel-indicators {
	margin-left: -31%;
}


.topspace30 {
	margin-top:30px;
}
.topspace10 {
	margin-top:10px;
}
/* --------------------------------------------------------	*/
/* SIDEBAR */
/* --------------------------------------------------------	*/
.sidebar .categories > li
{
    position: relative;
    display: block;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background-position: 9px 16px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #EDEDDE;
    padding: 10px 0;
    transition: all 0.3s;
}
.sidebar .categories > li a
{
    color: #000000;
}
.sidebar .categories > li a:hover
{
    color: #FFFFFF;
    text-decoration: none;
}
.sidebar .categories>li a:before {
	font-family:'FontAwesome';
	content:"\f101";
	margin-right:5px;
}
.sidebar .categories > li:hover
{
    background: #0066CC;
    padding-left: 15px;
    color: #FFFFFF;
}
.sidebar h4 {
	color:#0066CC;
	font-size:19px;
}
.wowwidget {
	margin-bottom:35px;
	clear:both;
	float:none;
}
.tab-content .tabbedwidget img {
	width:50px;
	height:50px;
	margin-bottom:0;
	padding:4px;
	line-height:1.428571429;
	background-color:#fff;
	border:1px solid #ddd;
	border-radius:4px;
	margin-right:10px;
	margin-top:5px;
}
.tab-content li {
	float:none;
	clear: both;
}

.unstyled {
	list-style:none;
	-webkit-padding-start:0px;
}
/* --------------------------------------------------------	*/
/* Tabs */
/* --------------------------------------------------------	*/
.nav-tabs {
	border:0px;
	margin-bottom:0px;
}
.nav-tabs li a
{
    color: #000000;
    background: #CCCCCC;
    font-weight: 300;
    font-size: 13px;
    padding: 15px 25px;
    margin-right: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #e5e5e5;
    border-right: 0px !important;
    text-transform: uppercase;
}
.nav-tabs li:last-child>a,.nav-tabs li:last-child>a:hover {
	border-right:1px solid #e5e5e5 !important;
}
.nav-tabs li a:hover {
	background:#ffffff !important;
	border:1px solid #e5e5e5;
}
.nav-tabs i {
	padding-right:10px;
}
.tab-content {
	background:#ffffff;
	border:1px solid #e5e5e5;
	padding:25px;
}
.tab-content img {
	max-width:150px;
	height:auto;
	width:auto;
	margin-right:20px;
	margin-bottom:5px;
	float:left;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
.nav-tabs>.active>a,.nav-tabs>.active>a:hover {
	background-color:#ffffff !important;
	border-color:#e5e5e5 #e5e5e5 transparent;
	border-style:solid;
	border-right:1px !important;
	color: #0066CC !important;
}
/*--------------------------------------------------FOOTER---------------------------------------------------*/
.footerarr {
	text-align:center;
	margin-top:-59px;
	margin-bottom:20px;
}
.footerarr i {
	color:#fff;
	font-size:60px;
}
.footer {
	background:#222;
	color:#888;
	margin-top:50px;
	padding-top:50px;
	padding-bottom:30px;
	font-size:13px;
	line-height:20px;
	-webkit-background-size:cover !Important;
	-moz-background-size:cover !Important;
	-o-background-size:cover !Important;
	background-size:cover !Important;
}
.footerbrand {
	font-family:Pacifico;
	font-size:30px !Important;
	font-weight:300 !Important;
	text-transform:none !Important;
	margin-bottom:20px !important;
	border-bottom:0px !Important;
	letter-spacing:1px;
	display:block !Important;
	color:#fff !important;
}
.footermap {
	background:url(../img/map.png) no-repeat;
}
.footerbrand i {
	color:#555;
	font-size:15px;
}
.footer h1 {
	font-size:18px;
	color:#fff;
	text-align:left;
	display:inline-block;
	font-weight:700;
	margin-bottom:25px;
	margin-top:0;
}
.footer hr {
	border-top:1px solid #494949;
	margin-bottom:25px;
}
.footer ul.social-icons {
	list-style:none;
	margin-left:0px;
		margin-top:25px;
}
.copyright
{
    color: #fff;
    font-size: 12px;
    background: #0066CC;
}
.copyright ul.footermenu li a {
	color:#fff;
	height:50px;
}
.copyright p {
	line-height:50px;
	margin:0px;
}
.footer input, .footer textarea, .footer input[type="text"]
{
    background-color: #333;
    border: 1px solid #3c3c3c;
    font-size: 12px;
    margin-bottom: 10px;
    color: #aaa;
    padding: 10px;
}
.footer .btn {
	background:#333;
	text-shadow:none;
	padding:6px 12px;
	font-size:13px;
	color:#888;
}
ul.footermenu {
	list-style:none;
	margin-top:10px;
}
ul.footermenu li {
	float:left;
	margin-left:5px;
	margin-right:5px;
	text-transform:uppercase;
	line-height:33px;
}
ul.footermenu li a {
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
	color:#999;
	font-size:11px;
}
ul.footermenu li a:hover {
	color:#fff;
}
.footermenu li:before {
	content:'|';
	color:#fff;
	display:inline-block;
	margin-right:7px;
}
.footermenu li:nth-child(1):before {
	display:none;
}
.footer .titlearrow {
	font-size:30px;
	color:#444;
	background:#373737;
	
}
.footer .wraptitle {
	margin-bottom:10px;
	text-align:left;
}
.done {
	display:none;
}
.error input,input.error,.error textarea,textarea.error {
	background-color:#ffffff;
	border:1px solid red !Important;
	-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;
	-moz-transition:border linear 0.2s,box-shadow linear 0.2s;
	-o-transition:border linear 0.2s,box-shadow linear 0.2s;
	transition:border linear 0.2s,box-shadow linear 0.2s;
}
/*--------------------------------------------------	intro-note---------------------------------------------------*/


.intro-note h1
{
    text-transform: uppercase;
    font-size: 27px;
    margin-top: 25px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #99CCFF;
}
.intro-note p
{
    font-weight: 300;
    line-height: 28px;
    font-size: 19px;
    color: #E1E1E1;
    margin-bottom: 15px;
}
.colortext
{
    color: #FFFFFF;
}
.thumnail
{
    background-color: #E9E9E9;
}
.ratings
{
    background-color: #006699;
}


/*---------------------------------------
Pricing Table
-----------------------------------------*/

.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}





.back-to-top
{
    position: fixed;
    bottom: 10%;
    right: 0px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    padding: 1em;
    display: none;
    font-weight: bold;
    background-color: #7f345a;
}
.back-to-top:hover
{
    background-color: rgb(0, 102, 153);
    text-decoration: none;
    color: #FFFFFF;
}	